.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.detail {
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 2fr;
    margin-bottom: 50px;
    padding: 50px;
}

.poster {
    display: flex;
    justify-content: center;
}

.poster img {
    width: 500px;
}

.title {
    font-size: 70px;
}

.genres {

}

.description {
    font-size: 30px;
}

.screen_shots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen_shots img {
    margin-bottom: 50px;
}


